body {background-color:honeydew;}

h1 {color:darkblue;
  font-style:italic;
  font-size:3em;}

h2 {color:black;
font-family:Tahoma;
font-weight:400; line-height:3.5em;}
body {background-color:honeydew;
  margin-left: 12%;
  margin-right: 12%;}

h1 {color:darkblue;
  font-style:italic;
  font-size:3em;}

h2 {color:black;
font-family:Tahoma,Times,Serif;
font-weight:400; line-height:3.5em;}

h3 {color:darkgreen;}

p {color:black; 
  font-style:italic;}

p.comment {
  font-style: italic;
  text-indent: 2.25em;
}
p.comment:hover {
  font-size: 1.5em;
}

h4 {color:red;}

sup{color:darkblue;
  font-size: 1.5em;}

a {Color:blue;
  text-decoration: none;
font-size:1.2em;
  font-weight:400;}

a:hover {Color:goldenrod;
font-size:2em;
  font-weight:400;}

a:visited {Color:purple;
font-size:1.8em;
  font-weight:400;}
h3 {color:darkgreen;}

p {color:black; 
  font-style:italic;}

p.comment {
  font-style: italic;
  text-indent: 1em;
}

h4 {color:red;}

sup{color:darkblue;
  font-size: 1.5em;}

img#herbs {  
    width: 30%;  
}
img.float {  
  width: 30%;  
}
/* _________ */

header, footer {
  display: flex;
  height: 8em;
  justify-content: center;
  align-items: center;
  border: 1px solid brown;
  background-color: wheat;
  /*____*/ position: relative;
    /*  
    margin-left: 5%;
    margin-right: 5%;*/
}

div.nav {
  display:flex;
  width: 30%;
  border: 1px solid black;
  text-align: center;
  font-size: 0.9em;
  height: 95%;
  width: calc(30% - 20px);
  justify-content: center;
  align-items: center; 
  flex-direction: row;
  }  

img.ChickTempRec {  
  width: 30%;
  justify-content: center;
  align-items: center;  
}

img.HomeBanner {  
  /*  */position: relative;
  width: 30%;
  justify-content: center;
  /*  
  margin-left: 5%;
  margin-right: 5%;  */
}

img.WhatisPerm {  
  position:absolute;
  width: 30%;
  justify-content: center;
}

.placeholderRed {
  background:pink;
}

/* add CSS media query that reduces the margin size when the window is narrow */
@media (max-width: 750px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }

}